@model IEnumerable<Blog.Entities.Post>

@{
    ViewData["Title"] = "Index";
}



<p class="btn btn-outline-success">
    <a asp-action="Create" class="text-black">Create New</a>
</p>
<table id="dtBlog" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedAt)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="text-truncate">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PublishedAt)
            </td>

            <td>
   
                <a asp-action="Details" asp-route-id="@item.Id">View</a> 
            </td>
        </tr>
}
    </tbody>
</table>
